<div class="qualifier-preview">
  <tr>
  <app-qualifier-meta [qualifier]="qualifier">
    <!-- <app-favorite-button
      [qualifier]="qualifier"
      (toggle)="onToggleFavorite($event)"
      class="pull-xs-right">
      {{qualifier.favoritesCount}}
    </app-favorite-button> -->
  </app-qualifier-meta>
</tr>
 <!--  <a [routerLink]="['/qualifier', qualifier.id]" class="preview-link">
    <h4>{{ qualifier.system }}</h4>
    <p>{{ qualifier.course }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
       <li class="tag-default tag-pill tag-outline"
        *ngFor="let tag of qualifier.horse">
        {{ tag }}
      </li>
    </ul>
  </a> -->
</div>
