<!-- <div class="qualifier-meta"> -->
<!--   <div class="info">
    <a [routerLink]="['/profile', qualifier.system]">
      {{ qualifier.system }}
    </a>
    <a class="author"
      [routerLink]="['/profile', qualifier.horse]">
      {{ qualifier.horse }}
    </a>
    <span class="date">
      {{ qualifier.date | date: 'dd/MM/yyyy'}} {{ qualifier.time}}
    </span>
  </div> -->

      <td>{{ qualifier.system }}</td>
      <td>{{ qualifier.horse }}</td>
      <td>{{ qualifier.date | date: 'dd/MM/yyyy'}} {{ qualifier.time}}</td>

 <!--  <ng-content></ng-content>
</div>
 -->
