<div>
  <div class="input-group">
    <input class="form-control" placeholder="start" [(ngModel)]="model">
    <input class="form-control" placeholder="end" [(ngModel)]="model2">
    <button class="btn btn-outline-secondary" name="first" (click)="ToggleRangePicker()" type="button">
        <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
      </button>
  </div>
</div>

<div *ngIf="edited">
    <ngb-datepicker #dp ngModel (ngModelChange)="onDateChange($event)" [displayMonths]="2" [dayTemplate]="t">
      </ngb-datepicker>

      <ng-template #t let-date="date" let-focused="focused">
        <span class="custom-day"
              [class.focused]="focused"
              [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null">
          {{ date.day }}
        </span>
      </ng-template>
</div>


<div class="qualifier-preview">

    <div *ngIf="summary" class="SummaryWrapper">
      <div class="SummaryBox">{{ summary.selections }}</div>
      <div class="SummaryBox">{{ summary.selections }}</div>
      <div class="SummaryBox">{{ summary.selections }}</div>
      <div class="SummaryBox">{{ summary.selections }}</div>
    </div>

  <table style="width: 100%">
      <tr>
          <th *ngFor="let col of columns">
              {{col}}
          </th>
      </tr>
      <tr *ngFor="let qualifier of results">
        <td>{{ qualifier.date | date: 'dd/MM/yyyy'}}</td>
        <td>{{ qualifier.time}}</td>
        <td>{{ qualifier.course}}</td>
        <td>{{ qualifier.system }}</td>
        <td>{{ qualifier.horse }}</td>
        <td>{{ qualifier?.automatedBet?.status }}</td>
        <td><span [hidden]="qualifier.win === 1" [ngClass]="{'custom-badge custom-badge-error': qualifier.win === 0}">
          {{ qualifier.win === 1 ? "Win" : qualifier.win === 0 ? "Lose":"Pending" }}</span>
          <span [hidden]="qualifier.win === 0" [ngClass]="{'custom-badge custom-badge-success': qualifier.win === 1}">
              {{ qualifier.win === 1 ? "Win" : qualifier.win === 0 ? "Lose":"Pending" }}</span></td>
        <td>{{ qualifier.winBsp }}</td>
        <td><button class="btn btn-sm btn-outline-primary" (click)="open(content)">Override</button></td>
        <td><button class="btn btn-sm btn-outline-danger" (click)="open(content)">Cancel</button></td>
      </tr>
      <!-- <app-qualifier-preview
        *ngFor="let qualifier of results"
        [qualifier]="qualifier">
      </app-qualifier-preview> -->
  </table>
</div>

<div class="app-qualifier-preview"
  [hidden]="!loading">
  Loading qualifiers...
</div>

<div class="app-qualifier-preview"
  [hidden]="loading || results.length">
  No qualifiers are here... yet.
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">

    <li class="page-item"
      [ngClass]="{'active': pageNumber === currentPage}"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)">

      <a class="page-link" >{{ pageNumber }}</a>

    </li>

  </ul>
</nav>
